<!DOCTYPE html>
<html>

<head>
    <!-- Office JavaScript API -->
    <script type="text/javascript" src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js"></script>
    <!-- p5.js library -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.5.0/p5.min.js"></script>
    <!-- jsPDF library -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <link rel="stylesheet" href="../styles/taskpane.css">
</head>

<body>
    <div id="app-container">
        <p>This add-in will insert your text as an image!</p>
        <button id="helloButton">Say hello</button>
    </div>
</body>

<script src="../scripts/taskpane.js"></script>

</html>
